<!DOCTYPE html>
<html ng-app="mtg">

<head ng-controller="HeadController">
	<meta charset="utf-8">
	<title ng-bind="title"></title>
	<!-- AngularJS CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body>
	<life-button></life-button>

	<script src="../javascript/main.js" charset="utf-8"></script>
	<script src="../javascript/controllers/head.js" charset="utf-8"></script>
	<script src="../javascript/directives/lifeButton.js" charset="utf-8"></script>
</body>

</html>
